Import Library

In [2]:
import pandas as pd
import numpy as np

Read the data

In [3]:
df_match_summary = pd.read_csv('matches.csv')
df_match_summary.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
df_match_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [5]:
df_ball_summary = pd.read_csv('deliveries.csv')
df_ball_summary.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [6]:
df_ball_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

Change the data into date dataframe

In [7]:
df_match_summary['date'] = pd.to_datetime(df_match_summary['date'])
df_match_summary['season'] = df_match_summary['date'].dt.year
df_match_summary.head(2)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN

Simplify the team names by abbreviations

In [8]:
# The Rising Pune Supergiants and Rising Pune Supergiant team have been coded as RPS because the team_name was changed
team_names = {'Rajasthan Royals':'RR',\
              'Mumbai Indians' : 'MI',\
              'Delhi Daredevils':'DD',\
              'Kolkata Knight Riders':'KKR',\
              'Kings XI Punjab':'KXP',\
              'Sunrisers Hyderabad':'SRH',\
              'Deccan Chargers':'DC-Chargers',\
              'Chennai Super Kings':'CSK',\
              'Rising Pune Supergiants':'RPS',\
              'Royal Challengers Bangalore':'RCB',\
              'Pune Warriors':'PW',\
              'Gujarat Lions':'GL',\
              'Delhi Capitals':'DC-Capitals',\
              'Rising Pune Supergiant':'RPS',\
              'Kochi Tuskers Kerala':'KTK'
             }

In [9]:
df_match_summary['toss_winner'] = df_match_summary['toss_winner'].map(team_names)
df_match_summary['winner'] = df_match_summary['winner'].map(team_names)
df_match_summary['team1'] = df_match_summary['team1'].map(team_names)
df_match_summary['team2'] = df_match_summary['team2'].map(team_names)

In [10]:
venue_names = {'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium':'YSR Visakhapatnam','M.Chinnaswamy Stadium':'Chinnaswamy, Bengaluru','M Chinnaswamy Stadium':'Chinnaswamy, Bengaluru',
               'Subrata Roy Sahara Stadium':'Sahara, Pune','Kingsmead':'Kingsmead, Durban','Wankhede Stadium':'Wankhede, Mumbai','Dr DY Patil Sports Academy':'DY Patil, Mumbai',
               'Brabourne Stadium':'Brabourne, Mumbai','Eden Gardens':'Eden Gardens, Kolkata','Sawai Mansingh Stadium':'Sawai Mansingh, Jaipur','Newlands':'Newlands, Capetown',
               'Himachal Pradesh Cricket Association Stadium':'HPCA, Dharamsala','Rajiv Gandhi International Stadium, Uppal':'Rajiv Gandhi, Hyderabad','JSCA International Stadium Complex':'JSCA, Ranchi',
               'Maharashtra Cricket Association Stadium':'MCAS, Pune','Feroz Shah Kotla':'Feroz Shah Kotla, Delhi','De Beers Diamond Oval':'De Beers, Kimberley',
               'MA Chidambaram Stadium, Chepauk':'MA Chidambaram Stadium, Chennai','Punjab Cricket Association IS Bindra Stadium, Mohali':'PCA, Mohali','Nehru Stadium':'Nehru, Kochi',
               'Green Park':'Green Park, Kanpur','Saurashtra Cricket Association Stadium':'SCA, Rajkot','Vidarbha Cricket Association Stadium, Jamtha':'VCA, Nagpur',
               'Punjab Cricket Association Stadium, Mohali':'PCA, Mohali','Shaheed Veer Narayan Singh International Stadium':'Shaheed Veer Narayan Singh, Raipur',
               'SuperSport Park':'Centurion, Gauteng','Holkar Cricket Stadium':'Holkar, Indore','Sardar Patel Stadium, Motera':'Sardar Patel, Ahmedabad','Barabati Stadium':'Barabati, Cuttack',
               'Sharjah Cricket Stadium':'Sharjah','Dubai International Cricket Stadium':'Dubai','Sheikh Zayed Stadium':'Abu Dhabi','OUTsurance Oval':'Bloemfontein',
               "St George's Park":'Port Elizabeth','Buffalo Park':'East London','New Wanderers Stadium':'Johannesburg'}

In [11]:
df_match_summary['venue'] = df_match_summary['venue'].map(venue_names)

In [12]:
df_match_summary.head(2)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,SRH,RCB,RCB,field,normal,0,SRH,35,0,Yuvraj Singh,"Rajiv Gandhi, Hyderabad",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,MI,RPS,RPS,field,normal,0,RPS,0,7,SPD Smith,"MCAS, Pune",A Nand Kishore,S Ravi,NaN

For changing the team name in ball by ball dataset

In [13]:
df_ball_summary['batting_team'] = df_ball_summary['batting_team'].map(team_names)
df_ball_summary['bowling_team'] = df_ball_summary['bowling_team'].map(team_names)

In [14]:
df_ball_summary.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,SRH,RCB,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,SRH,RCB,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

Players out count

In [15]:
df_ball_summary[df_ball_summary.player_dismissed.notna()].head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
11,1,1,SRH,RCB,2,5,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,0,0,0,DA Warner,caught,Mandeep Singh
64,1,1,SRH,RCB,11,3,S Dhawan,MC Henriques,STR Binny,0,...,0,0,0,0,0,0,0,S Dhawan,caught,Sachin Baby
94,1,1,SRH,RCB,16,2,MC Henriques,Yuvraj Singh,YS Chahal,0,...,0,0,0,0,0,0,0,MC Henriques,caught,Sachin Baby
116,1,1,SRH,RCB,19,4,Yuvraj Singh,DJ Hooda,TS Mills,0,...,0,0,0,0,0,0,0,Yuvraj Singh,bowled,NaN
160,1,2,RCB,SRH,6,4,Mandeep Singh,CH Gayle,Rashid Khan,0,...,0,0,0,0,0,0,0,Mandeep Singh,bowled,NaN

In [16]:
df_ball_summary['dismissal_kind'].unique()

array([nan, 'caught', 'bowled', 'run out', 'lbw', 'caught and bowled',
       'stumped', 'retired hurt', 'hit wicket', 'obstructing the field'],
      dtype=object)

To find out the maximum number of catch.

In [17]:
def attribute_catch (row):
  if row['dismissal_kind'] == 'caught':
    value = row['fielder']
  elif row['dismissal_kind'] == 'caught and bowled':
    value = row['bowler']
  else:
    value = None
  return value

In [18]:
df_ball_summary['catch_attributed_to'] = df_ball_summary.apply (lambda row: attribute_catch(row), axis=1)

In [19]:
# Top 10 fielders with catches
df_ball_summary['catch_attributed_to'].value_counts()[0:10]

KD Karthik        109
SK Raina          102
MS Dhoni           98
AB de Villiers     93
RV Uthappa         84
RG Sharma          83
KA Pollard         82
DJ Bravo           74
V Kohli            73
PA Patel           69
Name: catch_attributed_to, dtype: int64

To find out max numb of run out

In [20]:
def run_out (row):
  if row['dismissal_kind'] == 'run out':
    value = row['player_dismissed']
  else:
    value = None
  return value

In [21]:
def run_out_team (row):
  if row['dismissal_kind'] == 'run out':
    value = row['batting_team']
  else:
    value = None
  return value

In [22]:
df_ball_summary['run_out_team'] = df_ball_summary.apply (lambda row: run_out_team(row), axis=1)
# Order wise run out team
df_ball_summary['run_out_team'].value_counts()[0:8]

KXP    104
KKR    103
MI      98
DD      93
RR      92
RCB     91
CSK     84
SRH     56
Name: run_out_team, dtype: int64

In [23]:
df_ball_summary['run_out_bats'] = df_ball_summary.apply (lambda row: run_out(row), axis=1)

In [24]:
# Top 10 run out players
df_ball_summary['run_out_bats'].value_counts()[0:10]

G Gambhir          16
S Dhawan           14
AT Rayudu          13
SK Raina           13
M Vijay            12
Y Venugopal Rao    11
YK Pathan          11
KD Karthik         11
AB de Villiers     10
PA Patel           10
Name: run_out_bats, dtype: int64

To find out how many lbw occured

In [25]:
def lbw_out (row):
  if row['dismissal_kind'] == 'lbw':
    value = row['player_dismissed']
  else:
    value = None
  return value

In [26]:
df_ball_summary['lbwno'] = df_ball_summary.apply (lambda row: lbw_out(row), axis=1)

In [27]:
# Top 10 batsman who out in lbw
df_ball_summary['lbwno'].value_counts()[0:10]

BB McCullum     16
RV Uthappa      13
PA Patel        12
DR Smith        12
KD Karthik      11
RG Sharma       11
AM Rahane       11
M Vijay          9
S Dhawan         8
SR Tendulkar     8
Name: lbwno, dtype: int64

In [28]:
def totout (row):
    if row['dismissal_kind'] == 'caught':
        value = row['player_dismissed']
    elif row['dismissal_kind'] == 'caught and bowled':
        value = row['player_dismissed']
    elif row['dismissal_kind'] == 'lbw':
        value = row['player_dismissed']
    elif row['dismissal_kind'] == 'bowled':
        value = row['player_dismissed']
    elif row['dismissal_kind'] == 'stumped':
        value = row['player_dismissed']
    else:
        value = None
    return value

In [29]:
df_ball_summary['totout'] = df_ball_summary.apply (lambda row: totout(row), axis=1)

In [30]:
# Top 10 batsman who out
df_ball_summary['totout'].value_counts()[0:10]

SK Raina      149
RV Uthappa    145
RG Sharma     145
V Kohli       137
KD Karthik    124
S Dhawan      122
G Gambhir     120
PA Patel      116
AM Rahane     109
CH Gayle      108
Name: totout, dtype: int64

In [31]:
def totout_in_powerplay (row):
    if row['dismissal_kind'] == 'caught' and row['over'] <=6:
        value = row['player_dismissed']
    elif row['dismissal_kind'] == 'caught and bowled' and row['over'] <=6:
        value = row['player_dismissed']
    elif row['dismissal_kind'] == 'lbw' and row['over'] <=6:
        value = row['player_dismissed']
    elif row['dismissal_kind'] == 'bowled' and row['over'] <=6:
        value = row['player_dismissed']
    elif row['dismissal_kind'] == 'stumped' and row['over'] <=6:
        value = row['player_dismissed']
    else:
        value = None
    return value

In [32]:
df_ball_summary['totout_in_pp'] = df_ball_summary.apply (lambda row: totout_in_powerplay(row), axis=1)

In [33]:
# Top 10 batsman who out
df_ball_summary['totout_in_pp'].value_counts()[0:10]

PA Patel        67
CH Gayle        61
G Gambhir       60
S Dhawan        59
BB McCullum     57
V Sehwag        56
AM Rahane       52
RV Uthappa      51
DA Warner       49
AC Gilchrist    46
Name: totout_in_pp, dtype: int64

In [34]:
def totout_in_powerplay_in_2018ab (row):
    if row['dismissal_kind'] == 'caught' and row['over'] <=6 and row['match_id'] > 11303:
        value = row['player_dismissed']
    elif row['dismissal_kind'] == 'caught and bowled' and row['over'] <=6 and row['match_id'] > 11303:
        value = row['player_dismissed']
    elif row['dismissal_kind'] == 'lbw' and row['over'] <=6 and row['match_id'] > 11303:
        value = row['player_dismissed']
    elif row['dismissal_kind'] == 'bowled' and row['over'] <=6 and row['match_id'] > 11303:
        value = row['player_dismissed']
    elif row['dismissal_kind'] == 'stumped' and row['over'] <=6 and row['match_id'] > 11303:
        value = row['player_dismissed']
    else:
        value = None
    return value

In [35]:
df_ball_summary['totout_in_pp_2018'] = df_ball_summary.apply (lambda row: totout_in_powerplay_in_2018ab(row), axis=1)

In [36]:
# Top 10 batsman who out in powerplay in 2018 and 2019
df_ball_summary['totout_in_pp_2018'].value_counts()[0:10]

SR Watson       8
PA Patel        6
RG Sharma       6
CH Gayle        6
P Shaw          6
AM Rahane       5
S Dhawan        5
F du Plessis    5
V Kohli         5
SP Narine       4
Name: totout_in_pp_2018, dtype: int64

In [40]:
def totout_in_powerplay_in_2018abteam (row):
    if row['dismissal_kind'] == 'caught' and row['over'] <=6 and row['match_id'] > 7894:
        value = row['batting_team']
    elif row['dismissal_kind'] == 'caught and bowled' and row['over'] <=6 and row['match_id'] > 7894:
        value = row['batting_team']
    elif row['dismissal_kind'] == 'lbw' and row['over'] <=6 and row['match_id'] > 7894:
        value = row['batting_team']
    elif row['dismissal_kind'] == 'bowled' and row['over'] <=6 and row['match_id'] > 7894:
        value = row['batting_team']
    elif row['dismissal_kind'] == 'stumped' and row['over'] <=6 and row['match_id'] > 7894:
        value = row['batting_team']
    else:
        value = None
    return value

In [41]:
df_ball_summary['totout_in_pp_2018_team'] = df_ball_summary.apply (lambda row: totout_in_powerplay_in_2018abteam(row), axis=1)

In [42]:
# Top 10 batsman who out in powerplay in 2018 and 2019
df_ball_summary['totout_in_pp_2018_team'].value_counts()[0:10]

CSK            46
KKR            45
RCB            39
KXP            35
MI             34
SRH            33
RR             32
DD             21
DC-Capitals    19
Name: totout_in_pp_2018_team, dtype: int64

In [55]:
def batsvsbowl2018 (row, batsman, bowler):
    if row['dismissal_kind'] == 'caught' and row['match_id'] > 7894 and row['batsman'] == batsman and row['bowler'] ==bowler:
        value = row['batting_team']
    elif row['dismissal_kind'] == 'caught and bowled' and row['match_id'] > 7894 and row['batsman'] == batsman and row['bowler'] ==bowler:
        value = row['batting_team']
    elif row['dismissal_kind'] == 'lbw' and row['match_id'] > 7894 and row['batsman'] == batsman and row['bowler'] ==bowler:
        value = row['batting_team']
    elif row['dismissal_kind'] == 'bowled' and row['match_id'] > 7894 and row['batsman'] == batsman and row['bowler'] ==bowler:
        value = row['batting_team']
    elif row['dismissal_kind'] == 'stumped' and row['match_id'] > 7894 and row['batsman'] == batsman and row['bowler'] ==bowler:
        value = row['batting_team']
    else:
        value = None
    return value

In [126]:
k=df_ball_summary.apply (lambda row: batsvsbowl2018(row,'N Rana','Rashid Khan'), axis=1)

In [127]:
k.value_counts()

KKR    1
dtype: int64

In [84]:
def batsperf4(row, batsman, bowler):
    if row['batsman_runs'] == 4 and row['batsman'] == batsman and row['bowler'] == bowler:
        value_4 = row['batsman']
    else:
        value_4 = None
    return value_4

In [94]:
k_4 = df_ball_summary.apply (lambda row: batsperf4(row,'DA Warner','SP Narine'), axis =1 )

In [95]:
k_4.value_counts()

DA Warner    12
dtype: int64

In [87]:
def batsperf6(row, batsman, bowler):
    if row['batsman_runs'] == 6 and row['batsman'] == batsman and row['bowler'] == bowler:
        value_6 = row['batsman']
    else:
        value_6 = None
    return value_6

In [101]:
k_6 = df_ball_summary.apply (lambda row: batsperf6(row,'DA Warner','SP Narine'), axis =1 )

In [97]:
#k_6

In [107]:
k_6.value_counts()

DA Warner    8
dtype: int64

In [108]:
def batface(row, batsman, bowler):
    if row['batsman'] == batsman and row['bowler'] == bowler:
        value = row['batsman']
    else:
        value = None
    return value

In [109]:
k_ball = df_ball_summary.apply(lambda row: batface(row, 'DA Warner','SP Narine'), axis =1)

In [110]:
k_ball.value_counts()

DA Warner    89
dtype: int64

In [119]:
total_bound = k_4.value_counts() + k_6.value_counts()
bound_per_play = (total_bound / k_ball.value_counts())*100
bound_per_play

DA Warner    22.47191
dtype: float64

In [121]:
round(k_ball.value_counts()/ total_bound)

DA Warner    4.0
dtype: float64

In [124]:
def boundarybyball(row, batsman, bowler):
    k_4 = df_ball_summary.apply (lambda row: batsperf4(row,batsman,bowler), axis =1 )
    k_6 = df_ball_summary.apply (lambda row: batsperf6(row,batsman,bowler), axis =1 )
    k_ball = df_ball_summary.apply(lambda row: batface(row,batsman,bowler), axis =1)
    bound_per_play = ((k_4.value_counts() + k_6.value_counts()) / k_ball.value_counts())*100
    return bound_per_play

In [125]:
bound_per_play = df_ball_summary.apply(lambda row: boundarybyball(row, 'DA Warner','SP Narine'), axis =1)

KeyboardInterrupt:

In [128]:
def batsvsbowl_team (row, batsman, team_opp):
    if row['dismissal_kind'] == 'caught'  and row['batsman'] == batsman and row['bowling_team'] ==team_opp:
        value = row['bowler']
    elif row['dismissal_kind'] == 'caught and bowled'  and row['batsman'] == batsman and row['bowling_team'] ==team_opp:
        value = row['bowler']
    elif row['dismissal_kind'] == 'lbw'  and row['batsman'] == batsman and row['bowling_team'] ==team_opp:
        value = row['bowler']
    elif row['dismissal_kind'] == 'bowled'  and row['batsman'] == batsman and row['bowling_team'] ==team_opp:
        value = row['bowler']
    elif row['dismissal_kind'] == 'stumped'  and row['batsman'] == batsman and row['bowling_team'] ==team_opp:
        value = row['bowler']
    else:
        value = None
    return value

In [149]:
k_out = df_ball_summary.apply(lambda row: batsvsbowl_team(row, 'F du Plessis','KKR'), axis =1)

In [150]:
k_out.value_counts()

GB Hogg            1
B Lee              1
SP Narine          1
PP Chawla          1
Shakib Al Hasan    1
R Bhatia           1
dtype: int64

In [140]:
def batsvsbowl_team1 (row, batsman, team_opp):
    if row['dismissal_kind'] == 'caught'  and row['batsman'] == batsman and row['bowling_team'] ==team_opp and row['match'] == None:
        value = row['bowler']
    elif row['dismissal_kind'] == 'caught and bowled'  and row['batsman'] == batsman and row['bowling_team'] ==team_opp and row['match'] == None:
        value = row['bowler']
    else:
        value = None
    return value